@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
  --brand: #3cb043;
  --brand: hsl(124, 49%, 46%);
  --brand-hue: 124;
  --brand-saturation: 49%;
  --brand-lightness: 46%;

  --brand-light: hsl(var(--brand-hue) var(--brand-saturation) var(--brand-lightness));
  --text1-light: hsl(var(--brand-hue) var(--brand-saturation) 10%);
  --text2-light: hsl(var(--brand-hue) 30% 30%);
  --surface1-light: hsl(var(--brand-hue) 25% 90%);
  --surface2-light: hsl(var(--brand-hue) 20% 99%);
  --surface3-light: hsl(var(--brand-hue) 20% 92%);
  --surface4-light: hsl(var(--brand-hue) 20% 85%);
  --surface-shadow-light: var(--brand-hue) 10% calc(var(--brand-lightness) / 5);
  --shadow-strength-light: .02;

  --brand-dark: hsl(var(--brand-hue) calc(var(--brand-saturation) / 2) calc(var(--brand-lightness) / 1.5));
  --text1-dark: hsl(var(--brand-hue) 15% 85%);
  --text2-dark: hsl(var(--brand-hue) 5% 65%);
  --surface1-dark: hsl(var(--brand-hue) 10% 10%);
  --surface2-dark: hsl(var(--brand-hue) 10% 15%);
  --surface3-dark: hsl(var(--brand-hue) 5%  20%);
  --surface4-dark: hsl(var(--brand-hue) 5% 25%);
  --surface-shadow-dark: var(--brand-hue) 50% 3%;
  --shadow-strength-dark: .8;
}

html {
    font-size: 16px;
    min-width: 320px;
    font-family: 'Roboto';
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: var(--surface1-dark);
  color: var(--text1-dark)
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  font-weight: normal;
}

h1{
    font-size: 5rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3rem;
}

h4{
    font-size: 2rem;
}

h5{
    font-size: 1.5rem;
}

@media (max-width: 1079px) {
    h1 {
        font-size: 3rem;
    }
    
    h2 {
        font-size: 2.5rem;
    }
    
    h3 {
        font-size: 2rem;
    }
    
    h4 {
        font-size: 1.5rem;
    }
    
    h5 {
        font-size: 1.25rem;
    }
}

@media (max-width: 719px) {
    html{
        font-size: 14px;
    }
    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.75rem;
    }
    
    h3 {
        font-size: 1.5rem;
    }
    
    h4 {
        font-size: 1.25rem;
    }
    
    h5 {
        font-size: 1.15rem;
    }
}

a, a:visited{
    color: var(--brand);
    text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: left;
  min-width: 20rem;
  margin: 0 auto;
  padding: 1.25rem 2rem 1.25rem 2rem;
  min-height: 100%;
  padding-top: 2.5rem;
}

ul, ol{
  margin-left: 2.5rem;
}

button {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

button {
  border-radius: 5px;
  padding: 10px;
  transition: all 0.3s ease;
  height: 2.5rem;
}

button {
  background-color: var(--brand);
  border: none;
  color: var(--text1-light);
  text-align: center;
  cursor: pointer;
}

button:hover {
  background-color: var(--brand-dark);
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: var(--surface4-dark);
}

::-webkit-scrollbar-thumb {
  background-color: var(--text2-dark);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: none;
}